{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
  <h1> Bienvenue sur le site des olympiades </h1>
  <h2> Explication des règles : </h2>
  <p> Bonjour, vous avez à votre disposition la liste des participants de cette olympiades ainsi que leurs préférences,<br>
    la liste des sports pour lesquelles vous pouvez voter ainsi que le résultat des votes.<br> 
    Vous pouvez donc vous rentrer sur la page des votes et vous allez avoir la possibilité de voter pour votre sport favoris.<br>
    Seul le participant peut voter et il a le droit qu'a un vote. Le vote compte 5 points. <br> 
    Les 3 sports qui auront le plus de vote seront ceux présent lors de l'olympiade. <br>
    N'oubliez pas de vous connecter pour effectuer votre vote.
  </p>
{% endblock %}
