{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>Toutes les séries de la table program : </h1>
    {% for sport in sport %}
        <div>
            <h2>{{ loop.index }} / {{ sport.name }}</h2>
              </div>
    {% else %}
        Aucun sport trouvé.
    {% endfor %}
{% endblock %}